body{
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    padding: 30px 30px;
    border: 3px dotted darkred;
    border-left: 15px dotted red;
    border-right-style: double;
    border-radius: 100px;
    margin: 50px 50px;
}

